In [1]:
import pandas as pd
import os

In [2]:
PATH_DATOS = 'Datos'
FORMATO = '.csv'

In [3]:
# Listamos todos los CSVs
archivos = [archivo for archivo in os.listdir(PATH_DATOS) if archivo.endswith(FORMATO)]

In [4]:
df_con = pd.DataFrame()

for archivo in archivos:
        
        ruta_archivo = os.path.join(PATH_DATOS, archivo)
        print(f"Procesando {archivo}")
        df = pd.read_csv(ruta_archivo, sep=';')
        df_con = pd.concat([df_con, df], axis=0, ignore_index=True)
        print(f"EXITO: {archivo} procesado correctamente.")

Procesando Anno1970.csv
EXITO: Anno1970.csv procesado correctamente.
Procesando Anno1971.csv
EXITO: Anno1971.csv procesado correctamente.
Procesando Anno1972.csv
EXITO: Anno1972.csv procesado correctamente.
Procesando Anno1973.csv
EXITO: Anno1973.csv procesado correctamente.
Procesando Anno1974.csv
EXITO: Anno1974.csv procesado correctamente.
Procesando Anno1975.csv
EXITO: Anno1975.csv procesado correctamente.
Procesando Anno1976.csv
EXITO: Anno1976.csv procesado correctamente.
Procesando Anno1977.csv
EXITO: Anno1977.csv procesado correctamente.
Procesando Anno1978.csv
EXITO: Anno1978.csv procesado correctamente.
Procesando Anno1979.csv
EXITO: Anno1979.csv procesado correctamente.
Procesando Anno1980.csv
EXITO: Anno1980.csv procesado correctamente.
Procesando Anno1981.csv
EXITO: Anno1981.csv procesado correctamente.
Procesando Anno1982.csv
EXITO: Anno1982.csv procesado correctamente.
Procesando Anno1983.csv
EXITO: Anno1983.csv procesado correctamente.
Procesando Anno1984.csv
EXITO: Anno1984.csv procesado correctamente.
Procesando Anno1985.csv
EXITO: Anno1985.csv procesado correctamente.
Procesando Anno1986.csv
EXITO: Anno1986.csv procesado correctamente.
Procesando Anno1987.csv
EXITO: Anno1987.csv procesado correctamente.
Procesando Anno1988.csv
EXITO: Anno1988.csv procesado correctamente.
Procesando Anno1989.csv
EXITO: Anno1989.csv procesado correctamente.
Procesando Anno1990.csv
EXITO: Anno1990.csv procesado correctamente.
Procesando Anno1991.csv
EXITO: Anno1991.csv procesado correctamente.
Procesando Anno1992.csv
EXITO: Anno1992.csv procesado correctamente.
Procesando Anno1993.csv
EXITO: Anno1993.csv procesado correctamente.
Procesando Anno1994.csv
EXITO: Anno1994.csv procesado correctamente.
Procesando Anno1995.csv
EXITO: Anno1995.csv procesado correctamente.
Procesando Anno1996.csv
EXITO: Anno1996.csv procesado correctamente.
Procesando Anno1997.csv
EXITO: Anno1997.csv procesado correctamente.
Procesando Anno1998.csv
EXITO: Anno1998.csv procesado correctamente.
Procesando Anno1999.csv
EXITO: Anno1999.csv procesado correctamente.
Procesando Anno2000.csv
EXITO: Anno2000.csv procesado correctamente.
Procesando Anno2001.csv
EXITO: Anno2001.csv procesado correctamente.
Procesando Anno2002.csv
EXITO: Anno2002.csv procesado correctamente.
Procesando Anno2003.csv
EXITO: Anno2003.csv procesado correctamente.
Procesando Anno2004.csv
EXITO: Anno2004.csv procesado correctamente.
Procesando Anno2005.csv
EXITO: Anno2005.csv procesado correctamente.
Procesando Anno2006.csv
EXITO: Anno2006.csv procesado correctamente.
Procesando Anno2007.csv
EXITO: Anno2007.csv procesado correctamente.
Procesando Anno2008.csv
EXITO: Anno2008.csv procesado correctamente.
Procesando Anno2009.csv
EXITO: Anno2009.csv procesado correctamente.
Procesando Anno2010.csv
EXITO: Anno2010.csv procesado correctamente.
Procesando Anno2011.csv
EXITO: Anno2011.csv procesado correctamente.
Procesando Anno2012.csv
EXITO: Anno2012.csv procesado correctamente.
Procesando Anno2013.csv
EXITO: Anno2013.csv procesado correctamente.
Procesando Anno2014.csv
EXITO: Anno2014.csv procesado correctamente.
Procesando Anno2015.csv
EXITO: Anno2015.csv procesado correctamente.
Procesando Anno2016.csv
EXITO: Anno2016.csv procesado correctamente.
Procesando Anno2017.csv
EXITO: Anno2017.csv procesado correctamente.
Procesando Anno2018.csv
EXITO: Anno2018.csv procesado correctamente.
Procesando Anno2019.csv
EXITO: Anno2019.csv procesado correctamente.
Procesando Anno2020.csv
EXITO: Anno2020.csv procesado correctamente.
Procesando Anno2021.csv
EXITO: Anno2021.csv procesado correctamente.
Procesando Anno2022.csv
EXITO: Anno2022.csv procesado correctamente.
Procesando Anno2023.csv
EXITO: Anno2023.csv procesado correctamente.
Procesando Anno2024.csv
EXITO: Anno2024.csv procesado correctamente.

In [5]:
display(df_con)

,Unnamed: 0,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,tmax,...,hrMedia,horatmin,horatmax,dir,racha,horaracha,hrMax,horaHrMax,hrMin,horaHrMin
0,0,1970-01-01,C249I,FUERTEVENTURA AEROPUERTO,LAS PALMAS,25,"19,8","0,0","16,0","23,5",...,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1970-01-01,1679A,MONFORTE DE LEMOS,LUGO,291,"4,0","0,0","0,0","8,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1970-01-01,2462,PUERTO DE NAVACERRADA,MADRID,1893,"-5,0","0,4","-7,0","-3,0",...,100.0,23:59,15:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1970-01-01,1212E,ASTURIAS AEROPUERTO,ASTURIAS,127,"4,3","2,6","2,0","6,6",...,90.0,23:59,01:00,99.0,"7,2",00:13,NaN,NaN,NaN,NaN
4,4,1970-01-01,0016A,REUS AEROPUERTO,TARRAGONA,71,"5,5","0,0","0,6","10,4",...,72.0,01:00,14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7427566,14099,2024-12-31,9562X,MORELLA,CASTELLON,990,"4,8","0,0","0,8","8,8",...,85.0,07:08,13:42,12.0,"5,0",16:50,97.0,23:50,63.0,14:00
7427567,14100,2024-12-31,1002Y,"BAZTAN, IRURITA",NAVARRA,183,"4,2","0,0","-4,9","13,4",...,81.0,06:50,14:50,22.0,"3,1",16:20,100.0,09:00,50.0,14:10
7427568,14101,2024-12-31,3254Y,MORA,TOLEDO,717,"2,0","0,0","-3,1","7,1",...,94.0,08:13,11:18,20.0,"3,9",14:30,100.0,09:20,80.0,11:20
7427569,14102,2024-12-31,0194D,"CORBERA, PUIG D'AGULLES",BARCELONA,647,NaN,"0,0",NaN,NaN,...,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7427570,14103,2024-12-31,4093Y,OSA DE LA VEGA,CUENCA,763,"4,1","0,0","-1,8","10,0",...,80.0,Varias,14:25,99.0,"6,1",Varias,97.0,09:00,62.0,15:50

In [6]:
df_con.drop(columns=df_con.columns[0], axis=1, inplace=True)

In [7]:
display(df_con)

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,tmax,velmedia,...,hrMedia,horatmin,horatmax,dir,racha,horaracha,hrMax,horaHrMax,hrMin,horaHrMin
0,1970-01-01,C249I,FUERTEVENTURA AEROPUERTO,LAS PALMAS,25,"19,8","0,0","16,0","23,5","6,7",...,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1970-01-01,1679A,MONFORTE DE LEMOS,LUGO,291,"4,0","0,0","0,0","8,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1970-01-01,2462,PUERTO DE NAVACERRADA,MADRID,1893,"-5,0","0,4","-7,0","-3,0","3,1",...,100.0,23:59,15:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1970-01-01,1212E,ASTURIAS AEROPUERTO,ASTURIAS,127,"4,3","2,6","2,0","6,6","0,0",...,90.0,23:59,01:00,99.0,"7,2",00:13,NaN,NaN,NaN,NaN
4,1970-01-01,0016A,REUS AEROPUERTO,TARRAGONA,71,"5,5","0,0","0,6","10,4","1,7",...,72.0,01:00,14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7427566,2024-12-31,9562X,MORELLA,CASTELLON,990,"4,8","0,0","0,8","8,8","1,4",...,85.0,07:08,13:42,12.0,"5,0",16:50,97.0,23:50,63.0,14:00
7427567,2024-12-31,1002Y,"BAZTAN, IRURITA",NAVARRA,183,"4,2","0,0","-4,9","13,4","0,0",...,81.0,06:50,14:50,22.0,"3,1",16:20,100.0,09:00,50.0,14:10
7427568,2024-12-31,3254Y,MORA,TOLEDO,717,"2,0","0,0","-3,1","7,1","1,1",...,94.0,08:13,11:18,20.0,"3,9",14:30,100.0,09:20,80.0,11:20
7427569,2024-12-31,0194D,"CORBERA, PUIG D'AGULLES",BARCELONA,647,NaN,"0,0",NaN,NaN,NaN,...,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7427570,2024-12-31,4093Y,OSA DE LA VEGA,CUENCA,763,"4,1","0,0","-1,8","10,0","1,4",...,80.0,Varias,14:25,99.0,"6,1",Varias,97.0,09:00,62.0,15:50

In [8]:
df_con.to_csv('Valores_Climatologicos_1970_2024.csv', sep = ';', index = False)